body{
  margin:0;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial;
  color:#2a2a2a;
  background:
    radial-gradient(circle at 20% 10%, #fff1f6, transparent 40%),
    radial-gradient(circle at 85% 20%, #ffffff, transparent 45%),
    linear-gradient(120deg, #ffd1dc, #fff7fb);
}
